@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5><p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p></h5>
    <h5><p>Learn about <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">building Web apps ASP .NET MVC</a>.</p></h5>
</div>
